.calculator {
  border: 1px rgb(37, 3, 3) solid;
  width: 300px;
  height: 380px;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.output {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
  overflow: hidden;
}

.calc-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 5px 5px;
}

.log {
  overflow-y: auto;
  height: 30px;
}
