.calculator {
  border: 1px rgb(53, 40, 40) solid;
  width: 300px;
  height: 380px;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.output {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
  overflow: hidden;
}

.calc-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 5px 5px;
}

.log {
  overflow-y: auto;
  height: 30px;
}
